{% extends "layout.html" %}
{% block content %}
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">Twitter sentiment</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
        data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <input id="get_tag" class="form-control form-control-dark w-100" type="text"
        placeholder="Enter a hash tag or username" aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <!-- <a class="nav-link" href="#">Add a tag</a> -->
            <button class="form-control-dark" type="button" onclick="tag()">Add a tag</button>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <span data-feather="home"></span>
                            Dashboard <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file"></span>
                            Github
                        </a>
                    </li>
                </ul>

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Saved reports</span>
                    <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
                        <span data-feather="plus-circle"></span>
                    </a>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file-text"></span>
                            Current month
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div id="output_tags"
                class="d-flex flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            </div>
            <button id="start_stream" class="form-control-dark" type="button" onclick="start_stream()">Start
                stream</button>
            <button id="end_stream" class="form-control-dark" type="button" onclick="end_stream()">End
                stream</button>
            <div id="tag_menu">
                <input id="tag_fix" class="form-control form-control-dark w-100" type="text" aria-label="Search">
                <button type="button" class="btn-cancel" onclick="modify_tag()">Modify</button>
                <button type="button" class="btn-cancel" onclick="delete_tag()">Delete</button>
            </div>
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Tweets</h1>
            </div>

            <!-- <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas> -->
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Date</th>
                            <th>Tweet</th>
                            <th>Author</th>
                            <th>Tag</th>
                            <th>Sentiment</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1,001</td>
                            <td>2020/July/15 00:00:00</td>
                            <td>Japan is yeah.</td>
                            <td>Abe</td>
                            <td>#Japan</td>
                            <td>positive (0.95)</td>
                        </tr>
                        <tr>
                            <td>1,002</td>
                            <td>2020/July/15 00:00:01</td>
                            <td>USA is boo.</td>
                            <td>Trump</td>
                            <td>#USA</td>
                            <td>negative (-0.95)</td>
                        </tr>
                        <tr>
                            <td>1,002</td>
                            <td>2020/July/15 00:00:01</td>
                            <td>USA is boo.</td>
                            <td>Trump</td>
                            <td>#USA</td>
                            <td>negative (-0.95)</td>
                        </tr>
                        <tr>
                            <td>1,002</td>
                            <td>2020/July/15 00:00:01</td>
                            <td>USA is boo.</td>
                            <td>Trump</td>
                            <td>#USA</td>
                            <td>negative (-0.95)</td>
                        </tr>
                        <tr>
                            <td>1,002</td>
                            <td>2020/July/15 00:00:01</td>
                            <td>USA is boo.</td>
                            <td>Trump</td>
                            <td>#USA</td>
                            <td>negative (-0.95)</td>
                        </tr>
                        <tr>
                            <td>1,002</td>
                            <td>2020/July/15 00:00:01</td>
                            <td>USA is boo.</td>
                            <td>Trump</td>
                            <td>#USA</td>
                            <td>negative (-0.95)</td>
                        </tr>
                        <tr>
                            <td>1,002</td>
                            <td>2020/July/15 00:00:01</td>
                            <td>USA is boo.</td>
                            <td>Trump</td>
                            <td>#USA</td>
                            <td>negative (-0.95)</td>
                        </tr>
                        <tr>
                            <td>1,002</td>
                            <td>2020/July/15 00:00:01</td>
                            <td>USA is boo.</td>
                            <td>Trump</td>
                            <td>#USA</td>
                            <td>negative (-0.95)</td>
                        </tr>
                        <tr>
                            <td>1,002</td>
                            <td>2020/July/15 00:00:01</td>
                            <td>USA is boo.</td>
                            <td>Trump</td>
                            <td>#USA</td>
                            <td>negative (-0.95)</td>
                        </tr>
                        <tr>
                            <td>1,002</td>
                            <td>2020/July/15 00:00:01</td>
                            <td>USA is boo.</td>
                            <td>Trump</td>
                            <td>#USA</td>
                            <td>negative (-0.95)</td>
                        </tr>
                        <tr>
                            <td>1,002</td>
                            <td>2020/July/15 00:00:01</td>
                            <td>USA is boo.</td>
                            <td>Trump</td>
                            <td>#USA</td>
                            <td>negative (-0.95)</td>
                        </tr>
                        <tr>
                            <td>1,002</td>
                            <td>2020/July/15 00:00:01</td>
                            <td>USA is boo.</td>
                            <td>Trump</td>
                            <td>#USA</td>
                            <td>negative (-0.95)</td>
                        </tr>
                        <tr>
                            <td>1,002</td>
                            <td>2020/July/15 00:00:01</td>
                            <td>USA is boo.</td>
                            <td>Trump</td>
                            <td>#USA</td>
                            <td>negative (-0.95)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>
<script language="javascript" type="text/javascript">
    var tag_counter = 0 // Define the number of tags added
    var target_tag_id = 0 // Set default id that is being fixed or deleted
    function tag() {
        ++tag_counter;
        var new_tag = document.getElementById("get_tag").value; // hashtag or username that will be searched on Twitter via API

        var output_tags = document.getElementById('output_tags');
        // Create an HTML tag in which we will desplay tag which is just added by the user
        output_tags.insertAdjacentHTML('beforeend', '<p class="tags" id=tag_' + tag_counter + ' onclick="tag_menu(this.id)">' + new_tag + '</p>');

        // Display the start stream button.
        document.getElementById("start_stream").style.display = "inline";

        // Clear the input box with empty value.
        document.getElementById("get_tag").value = '';
    }

    function tag_menu(current_id) {
        // Clear with empty text box for tag_fix
        document.getElementById("tag_fix").value = '';
        var current_val = document.getElementById(current_id).innerHTML;
        // Set the tag clicked by the user as default value of text box where the user can modify or delete.
        document.getElementById("tag_fix").value = current_val;
        // Undisplay the tag menu
        document.getElementById("tag_menu").style.display = "block";
        // Set the global variable target_tag_id 
        target_tag_id = current_id
    }

    function modify_tag() {
        // Get the modified tag given by the user via the tag menu.
        var modified_tag = document.getElementById("tag_fix").value;
        // Set the new value(tag) and display it at the proper place.
        document.getElementById(target_tag_id).innerHTML = modified_tag;
        target_tag_id = 0; // Reset target_tag_id, means there is no tag being modified.
        // Undisplay the tag menu.
        document.getElementById("tag_menu").style.display = "none";
    }

    function delete_tag() {
        document.getElementById(target_tag_id).remove(); // Remevo the tag clicked
        target_tag_id = 0; // Reset target_tag_id, means there is no tag being modified.
        document.getElementById("tag_menu").style.display = "none"; // Hide the tag menu.

        var tags_list = document.getElementById("output_tags").children; // Create a list of tags added so far

        if (tags_list.length != 0) { // There is a tag
            for (i = 1; i < tags_list.length; i++) {
                tags_list[i].id = "tag_" + i; // Reindex the tag id -> worst case O(n)
            }
        } else { // No tags displayed, hide start_stream button
            document.getElementById("start_stream").style.display = "none";
        }
        tag_counter = tags_list.length;
    }

    function start_stream() {
        document.getElementById("end_stream").style.display = "inline";
        var tags = []
        for (i = 1; i <= tag_counter; i++) {
            var cur_tag = document.getElementById("tag_" + i).innerHTML;
            tags.push(cur_tag);
        }
        console.log(tags);
        // var movies = ["titanic", "aaa"]

        $.ajax({
            url: '/streaming',
            type: 'POST',
            data: JSON.stringify(tags),   // converts js value to JSON string
            contentType: 'application/json',
            dataType: 'json',
        })
            .done(function (result) {     // on success get the return object from server
                console.log(result)     // do whatever with it. In this case see it in console
            })
    }

    function end_stream() {
        $.ajax({
            url: '/end_streaming',
            type: 'POST',
            // data: JSON.stringify(tags),   // converts js value to JSON string
            // contentType: 'application/json',
            // dataType: 'json',
        })
            .done(function (result) {     // on success get the return object from server
                console.log(result)     // do whatever with it. In this case see it in console
            })
    }
</script>
{% endblock %}