{% extends "layout.html" %}
{% block content %}
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">Twitter sentiment</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
        data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <input id="get_tag" class="form-control form-control-dark w-100" type="text" placeholder="Enter a #hashtag"
        aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <button class="form-control-dark" type="button" onclick="tag()">Add a tag</button>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <br>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/">
                            <span data-feather="home"></span>
                            TOP <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/boblef/twitter_sentimental" target="_blank">
                            Code on Github
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.linkedin.com/in/koheisuzuki" target="_blank">
                            LinkedIn
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://boblef.github.io/" target="_blank">
                            MySite
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://boblef.github.io/docs/koheisuzuki_resume2020_ML.pdf"
                            target="_blank">
                            Resume
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="container">
                <div id="output_tags" class="d-flex flex-wrap align-items-center pt-3 pb-2 mb-3">
                </div>
            </div>
            <button id="start_stream" class="form-control-dark" type="button" onclick="start_stream()">Start
                stream</button>
            <button id="end_stream" class="form-control-dark" type="button" onclick="end_stream()">End
                stream</button>
            <form action="/" method="POST" enctype="multipart/form-data" id="reload">
                <input type="submit" value="Reload" id="reload_button">
            </form>
            <div id="tag_menu">
                <input id="tag_fix" class="form-control form-control-dark w-100" type="text" aria-label="Search">
                <button type="button" class="btn-cancel" onclick="modify_tag()">Modify</button>
                <button type="button" class="btn-cancel" onclick="delete_tag()">Delete</button>
            </div>
            <div id="results">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Tweets</h1>
                </div>
                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                    {% for table in tables %}
                    {{ table|safe }}
                    {% endfor %}
                </div>
            </div>
            <div id="info">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">About this project</h1>
                </div>
                <p>Twitter Sentiment Analysis is a project created by <a href="https://boblef.github.io/">Kohei
                        Suzuki</a>, and it streams tweets based on hashtags that you entered in the top menu bar.
                    Then, by using <a href="https://github.com/ProsusAI/finBERT">FinBert</a>, FinBERT is a pre-trained
                    NLP model to analyze sentiment of financial text, we give a sentiment score to each tweet.<br>

                    The functionalities being used in this project have potential to be applied to the Automated forex
                    trading strategy which I have been working on as a personal project.
                </p>
                <h5>Skills</h5>
                <ul>
                    <li>Python:<br>
                        Flask, Tweepy, PyTorch, Pandas
                    </li>
                    <li>Others: <br>
                        CircleCI, Docker
                    </li>
                </ul>
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">How to use</h1>
                </div>
                <div class="intro_steps">
                    <ol>
                        <li>Enter hashtags that you want to stream on as many as you want. E.x. USA, Japan, JPY, USD...
                        </li>
                        You can easily modify and remove a tag by clicking the tag.
                        <li>Once you have typed hashtags, click the "Start stream" button.</li>
                        <li>You need to refresh the page to get recent tweets by clicking the "Refresh".</li>
                        <li>When you want to finish the stream, please click the "End stream".</li>
                    </ol>
                </div>
            </div>
        </main>
    </div>
</div>
<script language="javascript" type="text/javascript">
    var tag_counter = 0 // Define the number of tags added
    var target_tag_id = 0 // Set default id that is being fixed or deleted
    function tag() {
        ++tag_counter;
        var new_tag = document.getElementById("get_tag").value; // hashtag or username that will be searched on Twitter via API

        var output_tags = document.getElementById('output_tags');
        // Create an HTML tag in which we will desplay tag which is just added by the user
        output_tags.insertAdjacentHTML('beforeend', '<p class="tags" id=tag_' + tag_counter + ' onclick="tag_menu(this.id)">' + new_tag + '</p>');

        // Display the start stream button.
        document.getElementById("start_stream").style.display = "inline";

        // Clear the input box with empty value.
        document.getElementById("get_tag").value = '';
    }

    function tag_menu(current_id) {
        // Clear with empty text box for tag_fix
        document.getElementById("tag_fix").value = '';
        var current_val = document.getElementById(current_id).innerHTML;
        // Set the tag clicked by the user as default value of text box where the user can modify or delete.
        document.getElementById("tag_fix").value = current_val;
        // Undisplay the tag menu
        document.getElementById("tag_menu").style.display = "block";
        // Set the global variable target_tag_id 
        target_tag_id = current_id
    }

    function modify_tag() {
        // Get the modified tag given by the user via the tag menu.
        var modified_tag = document.getElementById("tag_fix").value;
        // Set the new value(tag) and display it at the proper place.
        document.getElementById(target_tag_id).innerHTML = modified_tag;
        target_tag_id = 0; // Reset target_tag_id, means there is no tag being modified.
        // Undisplay the tag menu.
        document.getElementById("tag_menu").style.display = "none";
    }

    function delete_tag() {
        document.getElementById(target_tag_id).remove(); // Remevo the tag clicked
        target_tag_id = 0; // Reset target_tag_id, means there is no tag being modified.
        document.getElementById("tag_menu").style.display = "none"; // Hide the tag menu.

        var tags_list = document.getElementById("output_tags").children; // Create a list of tags added so far

        if (tags_list.length != 0) { // There is a tag
            for (i = 1; i < tags_list.length; i++) {
                tags_list[i].id = "tag_" + i; // Reindex the tag id -> worst case O(n)
            }
        } else { // No tags displayed, hide start_stream button
            document.getElementById("start_stream").style.display = "none";
        }
        tag_counter = tags_list.length;
    }

    function start_stream() {
        // When user click the start_streaming button
        // Display the necessary tools
        document.getElementById("end_stream").style.display = "inline";
        document.getElementById("reload").style.display = "inline";
        document.getElementById("start_stream").style.display = "none";
        document.getElementById("info").style.display = "none";
        document.getElementById("results").style.display = "inline";

        // Create a list with hashtags that the user just typed
        var tags = []
        for (i = 1; i <= tag_counter; i++) {
            var cur_tag = document.getElementById("tag_" + i).innerHTML;
            tags.push(cur_tag);
        }
        console.log(tags);

        // Send the hashtags to Flask
        $.ajax({
            url: '/start_streaming',
            type: 'POST',
            data: JSON.stringify(tags),   // converts js value to JSON string
            contentType: 'application/json',
            dataType: 'json',
        }).done(function (result) {     // on success get the return object from server
            console.log(result)     // do whatever with it. In this case see it in console
        })

        document.getElementById("reload_button").click();
    }

    function end_stream() {
        // When uset click the end_streaming button
        // Displat the necessary tools
        document.getElementById("start_stream").style.display = "none";
        document.getElementById("reload").style.display = "none";
        document.getElementById("end_stream").style.display = "none";

        // Remove the hashtags being displayed
        let parent = document.getElementById('output_tags');
        for (i = 1; i <= tag_counter; i++) {
            let child = document.getElementById('tag_' + i);
            parent.removeChild(child);
        }
        $.ajax({
            url: '/end_streaming',
            type: 'POST',
        })
            .done(function (result) {     // on success get the return object from server
                console.log(result)     // do whatever with it. In this case see it in console
            })
    }

    function init_func() {
        // When user click the reload button
        if ("{{ reload_status }}" == "True") {
            // Display the neccessary tools.
            document.getElementById("end_stream").style.display = "inline";
            document.getElementById("reload").style.display = "inline";
            document.getElementById("results").style.display = "inline";

            // Parse hashtags that are supporsed to be displayed 
            var tags = JSON.parse('{{ tags | tojson | safe}}');

            // Display parsed tags in proper place
            for (i = 1; i <= tags.length; i++) {
                var output_tags = document.getElementById('output_tags');
                // Create an HTML tag in which we will desplay tag which is just added by the user
                output_tags.insertAdjacentHTML('beforeend', '<p class="tags" id=tag_' + i + ' onclick="tag_menu(this.id)">' + tags[i - 1] + '</p>');
            }
            // Set tag_counter
            tag_counter = tags.length;
        } else {
            document.getElementById("info").style.display = "inline";
        }
    }
</script>
{% endblock %}